body {
  <link href="<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
" rel="stylesheet">
  background-color: #f7e0d2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f7e0d2;
  color: #381921;
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: #381921;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f7e0d2;
}


.fancy-divider {
  text-align: center;
  font-size: 1.5em;
  margin: 40px 0;
  color: #c7c3bd; /* light gray */
  text-shadow: 0 0 5px #8b8884;
  letter-spacing: 2px;
}
